body{
    padding: 3%;
    background-color: #00bbff;
}

button{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #00ddbb;
    font-size: 1.5rem;
    
}

textarea{
    margin-top: 0.5rem;
}

.container{
    background-color: #ffa000;
    padding: 5%;
    border: 0.5rem solid #000000
}

h1{ 
    text-align: center;
    font-size: 2.5rem;
}

h2{
    text-align: center;
    font-size: 2rem;
}

img {
    display: block;
    margin: auto;
    padding: 1%;
    background-color: aqua;
    border-radius: 125%;
}

p{
  
  border: 0.3rem solid gray;
  background-color: white;  
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
}

ul{
    font-size: 1.5rem;
    font-weight: bold;
}

a{
    border:0.5rem solid #00bbdd;
    background-color: #00ff00;
    color:#000000;
}